{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} index {% endblock %}

{% block headers %}
super()
{% if user_id %}
<a href="./">主页</a>
<a href="./problems">题库</a>
<a href="./settings/{{ user_id }}">设置</a>
<a href="./login">退出</a>
{% else %}
<a href="./"><strong>目录</strong></a>
<a href="./login">登录</a>
<a href="./sign">注册</a>
<a href="./retrieve_password">找回密码</a>
{% endif %}
{% endblock %}


{% block content %}

<!-- test -->
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;灵气大概早被污染，谁为了生活不变</p>
<hr>

{% if user %}
<p> {{ username }} </p>
<p> 这里应该放用户自己提的问题，和自己做的题目</p>

{% else %}

<p> &nbsp;&nbsp;&nbsp;&nbsp;Come on ~ ♥ little Apple , try to finish this and you will grow more delicious ♥</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;这里应该放一些有趣的题目 </p>

{% endif %}
{% endblock %}