{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} index {% endblock %}

{% block headers %}
{% if username %}
<a href={{url_for("index")}}><strong>主页</strong></a>
<a href={{url_for("problems")}}>题库</a>
<a href={{url_for("settings",name=username)}}>设置</a>
<a href={{url_for("login")}}>退出</a>
{% else %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("login")}}>登录</a>
<a href={{url_for("sign")}}>注册</a>
<a href={{url_for("retrieve_password")}}>找回密码</a>
{% endif %}
{% endblock %}


{% block content %}

{% if username %}
<h5> 我们的目标是星辰大海，扬帆起航吧，魔法少女~ </h5>
<div class="myTables">
    <p> 我的问题 </p>

    <table>
        {% if my_problems %}
        <tr>
            <th>#</th>
            <th>题目</th>
            {#
            <th>题目描述</th>
            #}
            <th>发布人</th>
        </tr>
        {% for problem in my_problems %}
        <tr>
            <td>{{ problem.id }}</td>
            <td><a href='/problems/{{ problem.id }}'>{{ problem.title }}</a></td>
            {#
            <td>{{ problem.detail }}</td>
            #}
            <td>{{ problem.creator.name }}</td>
        </tr>

        {% endfor %}
        {% endif %}
    </table>

</div>

<br>
<hr>
<br>
<div class="myTables">
    <p> 我的参与 </p>

    <table>
        {% if my_solutions %}
        <tr>
            <th>#</th>
            <th>题目</th>
            {#
            <th>题目描述</th>
            #}
            <th>发布人</th>
        </tr>
        {% for solution in my_solutions %}
        <tr>
            <td>{{ solution.problem_id }}</td>
            <td><a href='/problems/{{ solution.problem_id }}'>{{ solution.problem.title }}</a></td>
            {#
            <td>{{ problem.detail }}</td>
            #}
            <td>{{ solution.problem.creator.name }}</td>
        </tr>

        {% endfor %}
        {% endif %}
    </table>

</div>
{% else %}
<div class="passage">
    <p> Come on ~ ♥ little Apple , try to finish this and you will grow more delicious ♥</p>

    <p>这里应该放一些有趣的题目 </p>
    <!-- test -->
    <p>灵气大概早被污染，谁为了生活不变</p>
    <hr>
</div>
{% endif %}
{% endblock %}