{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} login {% endblock %}

{% block headers %}
{% if username %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("problems")}}>题库</a>
<a href={{url_for("settings",name=username)}}>设置</a>
<a href={{url_for("login")}}>退出</a>
{% else %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("login")}}>登录</a>
<a href={{url_for("sign")}}>注册</a>
<a href={{url_for("retrieve_password")}}>找回密码</a>
{% endif %}
{% endblock %}

{% block content %}
<form action="/login" method="post">
    <label for="name-id">用户名</label>
    <input id="name-id" type="text" name="name">
    <br>
    <br>
    <label for="password-id">密&nbsp&nbsp&nbsp&nbsp码</label>
    <input id="password-id" type="password" name="password">
    <br>
    <br>
    <button type="submit">确定</button>
</form>

{% endblock %}