{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 题库 {% endblock %}

{% block headers %}
{% if username %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("problems")}}>题库</a>
<a href={{url_for("settings",name=username)}}>设置</a>
<a href={{url_for("login")}}>退出</a>
{% else %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("login")}}>登录</a>
<a href={{url_for("sign")}}>注册</a>
<a href={{url_for("retrieve_password")}}>找回密码</a>
{% endif %}
{% endblock %}


{% block content %}
<h1> Swimming in the Sea of Problems </h1>
<hr>

<table>
    <!-- title -->
    <!-- contents -->
    {% if problems %}
    <tr>
        <th>#</th>
        <th>题目</th>
        {#
        <th>题目描述</th>
        #}
        <th>发布人</th>
    </tr>
    {% for problem in problems %}
    <tr>
        <td>{{ problem.id }}</td>
        <td><a href='/problems/{{ problem.id }}'>{{ problem.title }}</a></td>
        {#
        <td>{{ problem.detail }}</td>
        #}
        <td>{{ problem.creator.name }}</td>
    </tr>

    {% endfor %}
    {% endif %}

</table>

<!-- add -->
<form action="/problems" method="post">

    <label for="problem_title">问题标题</label>
    <input id="problem_title" type="text" size="50" name="title" required="required">
    <br>
    <br>
    <label for="problem_detail">问题描述</label>
    <br>
    <textarea id="problem_detail" name="detail" cols="80" rows="10"></textarea>
    <br>
    <br>
    <button type="submit">提交问题</button>
</form>
<br>
<hr>
<h4> 爱提问题才不是问题儿童 ~ </h4>
{% endblock %}