{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 找回密码 {% endblock %}

{% block headers %}
{% if username %}
<a href="./">主页</a>
<a href="./problems">题库</a>
<a href="./settings/{{ username }}">设置</a>
<a href="./login">退出</a>
{% else %}
<a href="./">目录</a>
<a href="./login">登录</a>
<a href="./sign">注册</a>
<a href="./retrieve_password"><strong>找回密码</strong></a>
{% endif %}
{% endblock %}

{% block content %}

<form action="/retrieve_password" method="post">
    <label for="name">用户名</label>
    <input id="name" type="text" name="name">
    <label for="email">注册邮箱</label>
    <input id="email" type="text" name="email">
    <button type="submit">确定</button>
</form>

{% endblock %}