{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 设置 {% endblock %}

{% block headers %}
{% if user_id %}
<a href="./">主页</a>
<a href="./problems">题库</a>
<a href="./settings/{{ username }}"><strong>设置</strong></a>
<a href="./login">退出</a>
{% else %}
<a href="./">目录</a>
<a href="./login">登录</a>
<a href="./sign"><strong>注册</strong></a>
<a href="./retrieve_password">找回密码</a>
{% endif %}
{% endblock %}


{% block content %}
<div class="content">
    {% if user_id < 3 %}
    <!-- 默认 user_id<3 为管理员用户，可以查看列表 -->
<a href="./user/list">用户列表</a>
<a href="./user/add">增加用户</a>
{% else %}

{% endif %}

<hr>
    <form action="/settings/{{ user_id }}" method="post">
    <br>
    <label for="password">更改密码</label>
    <input id="password" type="password" name="password">
    <br>
    <br>
    <label for="password1">再输密码</label>
    <input id="password1" type="password" name="password1">
    <br>
    <br>
    <button type="submit">确定</button>
</form>
</div>
{% endblock %}