{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} user_list {% endblock %}

{% block headers %}
{% if username %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("problems")}}>题库</a>
<a href={{url_for("settings",name=username)}}>设置</a>
<a href={{url_for("index")}}"/login">退出</a>
{% else %}
<a href={{url_for("index")}}>主页</a>
<a href={{url_for("login")}}>登录</a>
<a href={{url_for("sign")}}>注册</a>
<a href={{url_for("retrieve_password")}}>找回密码</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="content" align="center">
    <!-- add -->
    <form action={{url_for("add_user")}} method="post">
        <label for="username">username</label>
        <input id="username" type="text" name="name" required="required">
        <label for="password">password</label>
        <input id="password" type="text" name="password" required="required">
        <label for="email">email</label>
        <input id="email" type="email" name="email">

        <button type="submit">add</button>
    </form>


    <table>

        <!-- title -->
        <!-- contents -->
        {% if users %}
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>timestamp</th>
            <th>edit</th>
            <th>delete</th>

        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.timestamp }}</td>
            <td><a href="/settings/user/edit/{{ user.id }}">edit</a></td>
            <td><a href="/settings/user/delete/{{ user.id }}">delete</a></td>
        </tr>

        {% endfor %}
        {% endif %}

    </table>

</div>


{% endblock %}
