{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<meta charset="utf-8">
{% block title %} edit_user {% endblock %}

{% block headers %}
{% if username %}
<a href="./">主页</a>
<a href="./problems">题库</a>
<a href="./settings/{{ username }}">设置</a>
<a href="./login">退出</a>
{% else %}
<a href="./">目录</a>
<a href="./login">登录</a>
<a href="./sign">注册</a>
<a href="./retrieve_password">找回密码</a>
{% endif %}
{% endblock %}

{% block content %}


<h2> 修改用户资料 {{ user }} </h2>

<!-- add -->
<form action='/settings/user/edit/{{ user_id }}' method="post">
    <label for="username">用户名</label>
    <input id="username" type="text" name="name" placeholder="{{ user.name }}">
    <br>
    <br>
    <label for="password">密码</label>
    <input id="password" type="text" name="password" placeholder="{{ user.password }}">
    <br>
    <br>
    <label for="email">邮箱</label>
    <input id="email" type="email" name="email" placeholder="{{ user.email }}">
    <br>
    <br>

    <button type="submit">post</button>
</form>

{% endblock %}